* {box-sizing: border-box;}

@media only screen and (min-width: 1440px)
{
	#thesidenav {display: none;}
	#navbutton {display: none;}	
	.horizontal_line {display: none;}
	.sidenavlinkicons {display: none;}
	#slider #prev {font-size: 3rem !important;}
	#slider #next {font-size: 3rem !important;}
	/**nav {font-size: 120%;}**/
}

@font-face {font-family: Pretendo;
			src: url(fonts/Pretendo.woff) format("woff");
			font-family: BTTF;
			src: url(fonts/BTTF.woff) format("woff");}

/**#slider #prev {font-size: 3rem !important;}**/

/**#slider #next {font-size: 3rem !important;}**/

nav {font-size: 120%;}

main p {font-size: 20px !important;}

footer {font-size: 75%;}