* {box-sizing: border-box;}

@media only screen and (min-width: 1440px) {
	#thesidenav {display: none;}
	#navbutton {display: none;}
	.horizontalline {display: none;}
	.mobilebr {display: none;}
	/**.mobilecenter {display: none;}**/
	.sidenavlinkicons {display: none;}
}

nav {font-size: 120%;}

#slider #prev {font-size: 50px !important;}

#slider #next {font-size: 50px !important;}

main p {font-size: 20px !important;}

footer {font-size: 75%;}