* {box-sizing: border-box;}

@media only screen and (min-width: 1080px) {
	#thesidenav {display: none;}
	#navbutton {display: none;}
	.horizontalline {display: none;}
	.mobilebr {display: none;}
	/**.mobilecenter {display: none;}**/
	.sidenavlinkicons {display: none;}
}

@font-face {font-family: Pretendo;
			src: url(fonts/Pretendo.woff) format("woff");}

body {/**background-color: #FD8B8B;**/
		background-image: url(images/RZR_Space_3840x2160.png);
		background-position-x: center;
		background-position-y: bottom;
		/**background-repeat: no-repeat;**/
		/**background-size: contain;**/
		margin-left: 50px;
		margin-right: 50px;
		font-family: Verdana, Arial, sans-serif;}

sup {vertical-align: super;
	font-size: 10px;}

#Homelogo {position: absolute;
		display: flex;
		left: 60px;
		/**scale: 10%;**/
		/**margin-top: -235px;
		margin-left: -552px;
		top: -300px;**/}

#links-container {position: absolute;
				display: flex;
				top: 95px;
				right: 60px;}

#links {background-color: black;
		background: #0000003b;
		padding: 5px;
		/**filter: drop-shadow(2px 2px 1px #1E1E1E);**/}

.centered {/**display: flex;
		justify-content: center;
		align-items: center;**/
		height: 25px;}

.arrow {border: solid currentColor; /**#0000FF**/
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
		margin-bottom: 3px;}

.up {transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);}

.down {transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);}

.left {transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-o-transform: rotate(135deg);}

.right {transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);}

/**.down:hover { transform: rotate(225deg);
				transition: 200ms ease-in-out 0s;} /**border-right: solid #FFFFFF**/ /**border-bottom: solid #FFFFFF**/

#wrapper {margin: 0 auto;
		width: 80%;
		min-width: 960px;
		max-width: 1200px;
		background-color: #E0ECFF; /**#B3C7E6**/
		color: #000066;
		box-shadow: 7px 7px 10px #000000; /**#008000**/
		display: grid;
		grid-template-columns: 150px 1fr 1fr 150px;
		grid-template-rows: 135px auto;}

.aligncontentcenter1 {display: grid;
					grid-template-columns: 100px 475px;}

.aligncontentcenter2 {display: grid;
					grid-template-columns: 100px 475px;}

/**.aligncontentcenter3 {display: grid;
					grid-template-columns: 100px 475px;}**/

#Blogbutton {grid-row: 1/2;
			grid-column: 1/3;
			text-align: center;
			margin: 12px 0px 12px 0px;
			opacity: 0;
			transition: 0.5s ease-in;
			-webkit-transition: 0.5s ease-in;
			-moz-transition: 0.5s ease-in;
			-o-transition: 0.5s ease-in;}

#Advertisingbutton {display: grid;
					grid-row: 2/3;
					grid-column: 1/2;
					text-align: center;
					/**margin: 12px 0px 12px 0px;**/
					margin-left: 100px;
					margin-right: auto;
					margin-bottom: 10px;
					width: 370px;
					opacity: 0;
					transition: 0.5s ease-in;
					-webkit-transition: 0.5s ease-in;
					-moz-transition: 0.5s ease-in;
					-o-transition: 0.5s ease-in;}

/**#imagealign1 {display: grid;
			grid-row: 2/3;
			grid-column: 1/2;
			width: 370px;
			margin-left: 100px;
			margin-right: auto;
			margin-bottom: 10px;
			box-shadow: 3px 3px 5px #000000;
			opacity: 0;
			transition: 0.5s ease-in;
			-webkit-transition: 0.5s ease-in;
			-moz-transition: 0.5s ease-in;
			-o-transition: 0.5s ease-in;}**/

#imagealign2 {grid-row: 3/4;
			grid-column: 1/2;
			width: 370px;
			margin-left: 100px;
			margin-right: auto;
			margin-bottom: 10px;
			/**box-shadow: 3px 3px 5px #000000;**/
			filter: drop-shadow(5px 5px 8px #000000);
			opacity: 0;
			transition: 0.5s ease-in;
			-webkit-transition: 0.5s ease-in;
			-moz-transition: 0.5s ease-in;
			-o-transition: 0.5s ease-in;}

#imagealign3 {grid-row: 4/5;
			grid-column: 1/2;
			/**width: 370px;
			height: 297px;**/
			/**margin-left: 100px;**/
			/**margin-right: auto;**/
			/**margin-bottom: 10px;**/
			/**box-shadow: 3px 3px 5px #000000;**/
			/**filter: drop-shadow(5px 5px 8px #000000);**/
			opacity: 0;
			transition: 0.5s ease-in;
			-webkit-transition: 0.5s ease-in;
			-moz-transition: 0.5s ease-in;
			-o-transition: 0.5s ease-in;}

#homesteadcolor {/**color: #dc8f23;**/
				color: #00a2ff;}

#textalign1 {grid-row: 2/3;
			grid-column: 2/3;
			display: flex;
			align-items: center;
			font-size: 18px;
			text-align: center;
			opacity: 0;
			transition: 0.5s ease-in;
			-webkit-transition: 0.5s ease-in;
			-moz-transition: 0.5s ease-in;
			-o-transition: 0.5s ease-in;}

#textalign2 {grid-row: 3/4;
			grid-column: 2/3;
			display: flex;
			align-items: center;
			font-size: 18px;
			text-align: center;
			opacity: 0;
			transition: 0.5s ease-in;
			-webkit-transition: 0.5s ease-in;
			-moz-transition: 0.5s ease-in;
			-o-transition: 0.5s ease-in;}

#textalign3 {grid-row: 4/5;
			grid-column: 2/3;
			display: flex;
			align-items: center;
			font-size: 18px;
			text-align: center;
			opacity: 0;
			transition: 0.5s ease-in;
			-webkit-transition: 0.5s ease-in;
			-moz-transition: 0.5s ease-in;
			-o-transition: 0.5s ease-in;}

#floatleft {float: left;
			/**margin: 10px;**/
			margin: auto;
			box-shadow: 3px 3px 5px #1E1E1E;}

#floatcenter {float: center;
			/**margin: 10px;**/
			margin: auto;
			box-shadow: 3px 3px 5px #1E1E1E;}

#floatright {float: right;
			/**margin: 10px;**/
			margin: auto;
			box-shadow: 3px 3px 5px #1E1E1E;}

header {background-color: #F5F5F5;
		background-origin: content-box;
		color: #FF0000;
		letter-spacing: 0.1em;
		font-family: Pretendo, Verdana, sans-serif;
		font-size: 150%;
		text-align: center;
		text-shadow: 2px 2px 2px #000000;
		padding: 10px 10px 10px 10px; /**155px**/
		background-repeat: no-repeat;
		/**background-image: url(images/YouTubelogosmaller.jpg);**/
		grid-row: 1 / 2;
		grid-column: 1 / 5;}

h2 {color: #FF0000; /**#B3C7E6**/
	font-family: Arial, sans-serif;}

nav {/**float: left;
	width: 175px;**/
	font-size: 100%;
	font-weight: bold;
	letter-spacing: 0.1em;
	background-color: #E0ECFF;
	grid-row: 2 / 3;
	grid-column: 1 / 5;}

nav ul {list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;}

nav li.dropdown {display: inline-block;}

.dropdown-content {display: none;
					position: absolute;
					background-color: rgba(255,255,255,0.95);
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					z-index: 1;}

.dropdown-content a {text-decoration: none;
					display: block;
					text-align: left;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown .dropbutton .down {transition: 200ms ease-in-out 0s;
							-webkit-transition: 200ms ease-in-out 0s;
							-moz-transition: 200ms ease-in-out 0s;
							-o-transition: 200ms ease-in-out 0s;}

.dropdown:hover .dropbutton .down {transform: rotate(225deg);
									-webkit-transform: rotate(225deg);
									-moz-transform: rotate(225deg);
									-ms-transform: rotate(225deg);
									-o-transform: rotate(225deg);
									transition: 200ms ease-in-out 0s;
									-webkit-transition: 200ms ease-in-out 0s;
									-moz-transition: 200ms ease-in-out 0s;
									-o-transition: 200ms ease-in-out 0s;}

.dropbutton {display: inline-block;
			text-align: center;
			text-decoration: none;}

nav a {text-decoration: none;
		padding: 10px;
		display: block;
		background-color: #E0ECFF; /**#B3C7E6;**/
		/**border-bottom: 1px solid #FFFFFF;**/
		transition: background-color 0.25s linear;
		-webkit-transition: background-color 0.25s linear;
		-moz-transition: background-color 0.25s linear;
		-o-transition: background-color 0.25s linear;}

nav a:link {color: #0000FF;}
nav a:visited {color: #FF0000;}
nav a:hover, dropdown:hover {color: #FFFFFF;
			background-color: #FD8B8B; /**#EAEAEA;**/}

/** ▼ Automatic Scrolling Images ▼ **/

#slider {position: relative;
		width: 575px;
		height: 281px;
		overflow: hidden;
		/**box-shadow: 5px 5px 8px rgba(0, 0, 0, 1);**/
		opacity: 0;
		transition: 0.5s ease-in;
		-webkit-transition: 0.5s ease-in;
		-moz-transition: 0.5s ease-in;
		-o-transition: 0.5s ease-in;}

#slider ul {position: relative;
			list-style: none;
			height: 100%;
			width: 10000%;
			padding: 0;
			margin: 0;
			transition: all 750ms ease;
			-webkit-transition: all 750ms ease;
			-moz-transition: all 750ms ease;
			-o-transition: all 750ms ease;
			left: 0;}

#slider ul li {position: relative;
				height: 100%;
				float: left;}

#slider ul li img {width: 575px;
					height: 281px;}

#slider #prev, #slider #next {width: 50px;
							line-height: 50px;
							border-radius: 50%;
							font-size: 3rem;
							/**text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);**/
							text-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
							text-align: center;
							color: #d5d5d5;
							text-decoration: none;
							position: absolute;
							top: 32%;
							transform: translateY(-50%);
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transition: all 150ms ease;
							-webkit-transition: all 150ms ease;
							-moz-transition: all 150ms ease;
							-o-transition: all 150ms ease;}

#slider #prev:hover, #slider #next:hover {/**background-color: rgba(0, 0, 0, 0.5);**/
											text-shadow: 0;
											color: #FF0000;
											/**font-size: 3.5rem;**/}

#slider #prev {left: 1px;}

#slider #next {right: 1px;}

/** ▲ Automatic Scrolling Images ▲ **/

main {background-color: #FFFFFF;
	color: #000000;
	/**font-size: 90%;**/
	padding: 10px 20px;
	display: grid;
	overflow: auto;
	grid-row: 3 / 4;
	grid-column: 1 / 5;}

footer {font-size: 70%;
		text-align: center;
		font-style: italic;
		padding: 10px;
		background-color: #E0ECFF;
		clear: both;
		grid-row: 4 / 5;
		grid-column: 1 / 5;}